
/* VOICI TOUS CE QUI CONCERNE LE FOND PRINCIPAL */

body {

	color: rgba(255, 255, 255, 0.952);
    background-image: url('img/fond.jpg');
    background-repeat:  no-repeat; 
    background-size:cover;
    background-size: auto;
    -o-background-size: cover;
    background-attachment: fixed, scroll;
    -webkit-background-size: cover;
    margin:2;
    padding:0;

    
}


/* VOICI TOUS CE QUI CONCERNE LE TITRE PRINCIPAL*/
h1 {
    text-align: center;
    margin:80px;  
    font-size: 500%;
    font-weight : bold;
    color: #b40d0d
    


}
/* VOICI TOUS CE QUI CONCERNE LES BOUTONS */


.bouton a {
    background:    #000000;
background:    -webkit-linear-gradient(#000000, #999999);
background:    linear-gradient(#00000000, );
border:        2px solid rgb(54, 1, 1);
border-radius: 10px;
box-shadow:    0 1px #b40d0d;
padding:       22px 60px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
width:55%; 
margin-top:10px;
}

#bouton a:hover{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(0, 255, 13);


}
/* VOICI CE QUI CONCERNE LA HAUTEUR DES BOUTONS */
#madiv{
    border:0px solid red;
    position:fixed;
    top:200px;
    overflow-x: hidden;
}


#madiv2{
    border:0px solid red;
    overflow-x: hidden;
    width:100%;
    text-align: center;
    top:-40px;
  

}

.centrer{
    text-align:center !important;
}
       


/* VOICI TOUS CE QUI CONCERNE LES TEXTES */
#texte{

   margin-top: -50px;
   background-color: rgba(107, 97, 97, 0.6);
   border: 3px rgb(7, 7, 7) ridge;
   border-radius: 10px;
   width: 60%;
   margin: auto;
   font-weight: 3600;
   font-size:xx-large;
   margin-top: 10%
   
  
}
#texte2{

    margin-top: -50px;
    background-color: rgba(107, 97, 97, 0.6);
    text-align:left;
    border: 3px rgb(20, 20, 20) ridge;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    font-weight: 3600;
    font-size:xx-large;
    margin-top: 0%
    
   
 }

    .act{
        color: rgb(0, 0, 0);
        font-weight:bold;
        font-size: 60px;
        text-decoration: underline;
        font-family: Verdana;
}


    #centrer{
text-align: center;
    }
.sous_titres{
    color: #000000;
    font-size: 40px;
    text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

    #texte3{
        text-align: center;
    }



    .illustrations img{
        width:500px;
    }

    
    .illustrations{
        text-align: center;
    }

    .image_acteurs{
        text-align: center;
        margin-top: 5%;
    }

    .image_acteurs img{
        width:350px;
    }

/* NOTE PERSONNEL: -magrin sert à déterminé la position de quelque chose
   -font-size c'est pour le type de largeur de texte
   -fond-weight c'est pour la taille de police du texte
   -border -radius sert à arrondir les bords des bordures
   -border sert à inserer des bordures
   -text-align sert à déterminer de quels sens sera le texte
   -width sert a déterminer la largeur de quelques choses dans le cas ci-dessus c'est pour la largeur des bordures sur la feuille
   -text-shadow sert a insérer de l'ombre  
   -color à donner une couleur à quelques choses
   -background sert à inserer un fond 
    Note réalisé par Romain*/



   