body {
	color: #F0E39E;

	background-image:url('https://fanart.tv/fanart/tv/153021/source/source_59f811ad27dfa.jpg');
    background-repeat:  no-repeat; 
    
}



.bouton a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;
    }
    .bouton a:hover {
    background:url(http://css.mammouthland.net/images/boutonnoir.png) no-repeat;
    float:left;
    margin:2px;
    
    }