.boutonC a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    background:url(images/bouton-noir.png) no-repeat;
    color:white;
    text-decoration:none;
    }
    .boutonC a:hover {
    background:url(http://css.mammouthland.net/images/boutonnoir.png) no-repeat;
    float:left;
    margin:2px;
    
    }


    #grostitre { color: rgb(31, 28, 243);
        text-align: center;
       


    }

    body {
        color: #F0E39E;
    
            background: #090c18  url(https://image.freepik.com/photos-libre/resume-gradient-noir-de-luxe-avec-arriere-plan-de-fond-de-vignette-noire-contexte-de-studio-bien-utilise-comme-fond-arriere-tableau-noir-arriere-plan-studio-noir-cadre-degrade-noir_1258-180.jpg) center top fixed no-repeat;
            background-size: cover;
        
       
       
    }

   