
/* VOICI TOUS CE QUI CONCERNE LE FOND PRINCIPAL */

body {

	color: #F0E39E;

	background-image:url('https://fanart.tv/fanart/tv/153021/source/source_59f811ad27dfa.jpg');
    background-repeat:  no-repeat; 
    background-size: cover;
    
}


/* VOICI TOUS CE QUI CONCERNE LE TITRE PRINCIPAL*/
h1 {
    text-align: center;
    margin:-630px;  
    font-size: 500%;
    font-weight : bold;
    


}
/* VOICI TOUS CE QUI CONCERNE LES BOUTONS */

.bouton a {
    background:    #000000;
background:    -webkit-linear-gradient(#000000, #999999);
background:    linear-gradient(#000000, #999999);
border:        2px solid #00ffff;
border-radius: 10px;
box-shadow:    0 1px #444444;
padding:       22px 60px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
width:10%; 
margin-top:10px;


}
/* VOICI CE QUI CONCERNE LA HAUTEUR DES BOUTONS */
#madiv{
   
    margin-top: 5%;
}
/* VOICI TOUS CE QUI CONCERNE LES TEXTES */
#texte{
    background-color: rgba(107, 97, 97, 0.5);
   text-align:left;
   border: 3px blue ridge;
   border-radius: 10px;
   width: 60%;
   margin: auto;
   margin-top: -500px;
   font-weight: 3600;
   font-size:xx-large;
   
  
}


/* NOTE PERSONNEL: -magrin sert à déterminé la position de quelque chose
   -font-size c'est pour le type de largeur de texte
   -fond-weight c'est pour la taille de police du texte
   -border -radius sert à arrondir les bords des bordures
   -border sert à inserer des bordures
   -text-align sert à déterminer de quels sens sera le texte
   -width sert a déterminer la largeur de quelques choses dans le cas ci-dessus c'est pour la largeur des bordures sur la feuille
   -text-shadow sert a insérer de l'ombre  
   -color à donner une couleur à quelques choses
   -background sert à inserer un fond 
    Note réalisé par Romain*/



   